* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    margin: 2.5rem;
}
body {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    
}

.page_header {
    padding-bottom: 2.5rem;
    background-color: rgb(182, 174, 174);
    
}
h1 {
    font-weight: 800;
}

.nav {
    background-color: lime;
}
.nav ul {
    list-style: none;
    color: blue;
}
.page_main {
    background-color: rgb(182, 174, 174);
    display:flex;
    flex-direction: column;
    
}
.editorial {
    background-color: yellow;
    display: flex;
    flex-direction: column;
}
.editorial_title {
    font-weight: 500;
}

p {
    margin-top: 2.0rem;
}
.info-container {
    background-color: grey;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}